<!-- section -->
        <div class="section enquiry relative overflow-hidden">
          <div class="container relative">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="row mb-4">
                  <div class="col-lg-8">
                    <h2>Enquiry form</h2>
                    <p>Get in touch today! We will do our very best to meet your bespoke corporate gifting needs! </p>
                  </div>
                </div>
                <div class="form">
                  <form action="#">
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input type="text" placeholder="Name" class="form-control">
                      </div>
                      <div class="col-md-6 form-group">
                        <input type="text" placeholder="Business Name" class="form-control">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="email" placeholder="Email Address" class="form-control">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="text" placeholder="Event Date (if applicable)" id="datepicker" class="form-control calendar">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="text" placeholder="Number of cookies for event or number of boxes of cookies" class="form-control">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <textarea placeholder="Message" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label class="file-upload" for="formFile">
                          <span class="btn btn-outline-primary">Choose File</span>
                          <span class="file-name">No file chosen</span>
                          <input class="form-control" type="file" id="formFile">
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <button type="button" class="btn btn-primary w-100">Send Enquiry</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <span class="cloud cloud1">
          </span>
          <span class="cloud cloud2">
          </span>
          <span class="cloud cloud3">
          </span>
          <span class="cloud cloud4">
          </span>
        </div>
<!-- /section -->


{% schema %}
  {
    "name": "Enquiry Form",
    "settings": [],
	"presets": [
		{
			"name": "Enquiry Form"
		}
	]
  }
{% endschema %}