<h1>Product name is {{ section.settings.name }}</h1>


{% schema %}
  {
    "name": "Product name",
    "settings": [
		{
			"id": "name",
			"type": "text",
			"label": "Name"
		}
	]
  }
{% endschema %}