<!-- section -->
        <div class="section ingredients text-center">
          <div class="container">
            <header>
              <h3>Ingredients</h3>
            </header>
            <div class="row">
              <div class="col-md-4 column">
                <div class="image">
                  <img src="images/image8.png" alt="icon">
                </div>
                <p>Chocolate chip</p>
              </div>
              <div class="col-md-4 column">
                <div class="image">
                  <img src="images/image9.png" alt="icon">
                </div>
                <p>Kinder</p>
              </div>
              <div class="col-md-4 column">
                <div class="image">
                  <img src="images/image10.png" alt="icon">
                </div>
                <p>Caramel candy</p>
              </div>
            </div>
          </div>
        </div>
<!-- /section -->


{% schema %}
  {
    "name": "Ingredients",
    "settings": []
  }
{% endschema %}