                <div class="gallery1">
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'image' %}
                        <img class="animation active" src="{{ block.settings.offer-image | image_url }}" alt="{{ block.settings.offer-image.alt }}">
                    {% endcase %}
                  {% endfor %}
                </div>

{% schema %}
  {
    "name": "What We Offer Image",
    "settings": [],
	"class": "col-xl-4 col-md-6 pe-lg-4 column mb-md-0",
	"blocks": [
		{
			"name": "Image",
			"type": "image",
            "settings": [
              {
                "id": "offer-image",
                "type": "image_picker",
                "label": "Choose Image"
              }
            ]
		}
	],
	"presets": [
		{
			"name": "What We Offer"
		}
	]
  }
{% endschema %}