</div>

{% schema %}
  {
    "name": "What We Offer 2",
    "settings": [],
	"presets": [
		{
			"name": "What We Offer 2"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
