	<div class="col-xl-4 col-md-6 pe-lg-4 column mb-md-0">
                <div class="gallery1">
                  <img class="animation active" src="images/image3.jpg" alt="img">
                  <img class="animation" src="images/image44.jpg" alt="img">
                  <img class="animation" src="images/image44-flip.jpg" alt="img">
                  <img class="animation" src="images/image3-flip.jpg" alt="img">
                  <img class="animation" src="images/image44-flip.jpg" alt="img">
                </div>
              </div>

{% schema %}
  {
    "name": "What We Offer Image",
    "settings": [],
	"class": "col-xl-4 col-md-6 pe-lg-4 column mb-md-0",
	"blocks": [
		{
			"name": "Image",
			"type": "image"
		},
		{
			"name": "Offer",
			"type": "offer"
		}
	],
	"presets": [
		{
			"name": "What We Offer"
		}
	]
  }
{% endschema %}