                <div class="gallery1">
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'image' %}
                        <img class="animation active" src="images/image3.jpg" alt="img">
                    {% endcase %}
                  {% endfor %}
                </div>

{% schema %}
  {
    "name": "What We Offer Image",
    "settings": [],
	"class": "col-xl-4 col-md-6 pe-lg-4 column mb-md-0",
	"blocks": [
		{
			"name": "Image",
			"type": "image",
            "settings": [
            
            ]
		}
	],
	"presets": [
		{
			"name": "What We Offer"
		}
	]
  }
{% endschema %}