<!-- section -->
        <div class="section we-offer bg-primary-light">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-4 col-md-6 pe-lg-4 column mb-md-0">
                <div class="image">
                  <img class="w-100" src="{{  }}" alt="{{  }}">
                </div>
              </div>

{% schema %}
  {
    "name": "What We Offer",
    "settings": [],
	"blocks": [
		{
			"name": "Image",
			"type": "image"
		},
		{
			"name": "Offer",
			"type": "offer"
		}
	],
	"presets": [
		{
			"name": "What We Offer"
		}
	]
  }
{% endschema %}