<div class="col-xl-4 col-md-6 pe-lg-4 column mb-md-0">
	<div class="image">
    	<img class="w-100" src="{{ 'image3.jpg' | asset_url }}" alt="img">
    </div>
</div>

{% schema %}
  {
    "name": "What We Offer",
    "settings": [],
	"blocks": [
		{
			"name": "Image",
			"type": "image"
		},
		{
			"name": "Offer",
			"type": "offer"
		}
	],
	"presets": [
		{
			"name": "What We Offer"
		}
	]
  }
{% endschema %}