<!-- /page head --->
      <!-- content -->
      <div id="content">
        <!-- section -->
        <div class="section we-offer bg-primary-light">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-4 col-md-6 pe-lg-4 column mb-md-0">
                <div class="image">
                  <img class="w-100" src="images/image3.jpg" alt="img">
                </div>
              </div>
              <div class="col-xl-5 col-md-6 ps-lg-4">
                <h2>What we offer…</h2>
                <ul class="list2">
                  <li>Large orders for events at your offices or other locations</li>
                  <li>Birthday gifts for employees</li>
                  <li>Multi-address shipping for at home employees</li>
                  <li>Christmas and seasonal gifts</li>
                  <li>Regular office cookie deliveries</li>
                  <li>Co-branded gift cards/notes (that we can support design and include in your gifts)</li>
                </ul>
                <footer>
                  <a href="#" class="btn btn-primary btn-xl w-100">Enquire Now</a>
                </footer>
              </div>
            </div>
          </div>
        </div>
        <!-- /section -->
        <!-- section -->
        <div class="section gifting-ideas pt-lg-0">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 column mb-lg-0 pe-lg-5 pt-lg-5">
                <h2>Gifting ideas</h2>
                <p>We’ve got your back when it comes to your corporate gifting. Whether you need some of our indulgent bakes for employees working at home, hundreds of cookies for an event or regular cookie deliveries to your office.</p>
                <footer class="pt-lg-3">
                  <a href="#" class="btn btn-primary btn-xl w-100">Enquire Now</a>
                </footer>
              </div>
              <div class="col-lg-7 right-column">
                <div class="row row1">
                  <div class="col-md-6 olumn">
                    <figure class="image">
                      <img class="w-100" src="images/image4.jpg" alt="img">
                    </figure>
                    <h4><a href="#">Happy Birthday Gifts for employees </a></h4>
                  </div>
                  <div class="col-md-6 olumn">
                    <figure class="image">
                      <img class="w-100" src="images/image5.jpg" alt="img">
                    </figure>
                    <h4><a href="#">Festive thank you gifting </a></h4>
                  </div>
                  <div class="col-md-6 olumn">
                    <figure class="image">
                      <img class="w-100" src="images/image6.jpg" alt="img">
                    </figure>
                    <h4><a href="#">Bakes catered for parties and meetings </a></h4>
                  </div>
                  <div class="col-md-6 olumn">
                    <figure class="image">
                      <img class="w-100" src="images/image7.jpg" alt="img">
                    </figure>
                    <h4><a href="#">Large orders for special events </a></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /section -->
        <!-- section -->
        <div class="section bg-primary-light">
          <div class="container">
            <header class="text-center mb-md-5">
              <h4>Companies we’ve worked with</h4>
            </header>
            <div class="owl-carousel carousel2">
              <div class="item">
                <img src="images/logo3.svg" alt="logo">
              </div>
              <div class="item">
                <img src="images/logo4.svg" alt="logo">
              </div>
              <div class="item">
                <img src="images/logo5.svg" alt="logo">
              </div>
              <div class="item">
                <img src="images/logo6.svg" alt="logo">
              </div>
              <div class="item">
                <img src="images/logo7.svg" alt="logo">
              </div>
              <div class="item">
                <img src="images/logo8.svg" alt="logo">
              </div>
              <div class="item">
                <img src="images/logo9.svg" alt="logo">
              </div>
              <div class="item">
                <img src="images/logo10.svg" alt="logo">
              </div>
            </div>
          </div>
        </div>
        <!-- /section -->
        <!-- section -->
        <div class="section enquiry relative overflow-hidden">
          <div class="container relative">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="row mb-4">
                  <div class="col-lg-8">
                    <h2>Enquiry form</h2>
                    <p>Get in touch today! We will do our very best to meet your bespoke corporate gifting needs! </p>
                  </div>
                </div>
                <div class="form">
                  <form action="#">
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input type="text" placeholder="Name" class="form-control">
                      </div>
                      <div class="col-md-6 form-group">
                        <input type="text" placeholder="Business Name" class="form-control">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="email" placeholder="Email Address" class="form-control">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="text" placeholder="Event Date (if applicable)" id="datepicker" class="form-control calendar">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="text" placeholder="Number of cookies for event or number of boxes of cookies" class="form-control">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <textarea placeholder="Message" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label class="file-upload" for="formFile">
                          <span class="btn btn-outline-primary">Choose File</span>
                          <span class="file-name">No file chosen</span>
                          <input class="form-control" type="file" id="formFile">
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <button type="button" class="btn btn-primary w-100">Send Enquiry</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <span class="cloud cloud1">
          </span>
          <span class="cloud cloud2">
          </span>
          <span class="cloud cloud3">
          </span>
          <span class="cloud cloud4">
          </span>
        </div>
        <!-- /section -->